n8n/workflows/reliability-health-check.json
{
  "name": "Reliability Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.horseai.com/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-api-health",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://supabase.co/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-database-health",
      "name": "Check Database Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "const apiHealth = $('Check API Health').first().json;\nconst dbHealth = $('Check Database Health').first().json;\n\nconst timestamp = new Date().toISOString();\nconst isHealthy = apiHealth.status === 'ok' && dbHealth.status === 'ok';\n\nreturn [{\n  json: {\n    timestamp,\n    api_healthy: apiHealth.status === 'ok',\n    database_healthy: dbHealth.status === 'ok',\n    api_response_time: apiHealth.response_time,\n    database_response_time: dbHealth.response_time,\n    overall_status: isHealthy ? 'healthy' : 'degraded',\n    alerts: []\n  }\n}];"
      },
      "id": "aggregate-health",
      "name": "Aggregate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "health_checks"
        },
        "options": {}
      },
      "id": "save-health-check",
      "name": "Save Health Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.overall_status }}",
              "operation": "equals",
              "value2": "degraded"
            }
          ]
        }
      },
      "id": "check-if-degraded",
      "name": "Check If Degraded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 HorseAI Health Check Alert: System is degraded at {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "slack-credentials",
          "name": "Slack Webhook"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Database Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Database Health": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Health": {
      "main": [
        [
          {
            "node": "Save Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Health Check": {
      "main": [
        [
          {
            "node": "Check If Degraded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Degraded": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "reliability-tag",
      "name": "Reliability"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
